.MoviePage {
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
}

.singlePoster {
    width: 25%;
    position: absolute;
    top:15%;
    left:20%;
    box-shadow: 2px 2px 5px;
    height:57%;
}
.singlePoster img {
    width: 100%;
}


.movieInfo {
    background-color: #d4d2d2;
    position: absolute;
    top:15%;
    width: 25%;
    left:50%;
    height: 72vh;
    box-shadow: 2px 2px 5px;
    padding: 5px 10px;
}

.movieInfo h1 {
    text-align: center;
}
#tagline {
    text-align: center;
}

#Genres {
    text-align: center;
    border-bottom: 1px solid grey;
}

.genres {
    padding: 0%;
    text-align: center;
}
